# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables

# Build output
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln